body {
    margin: 10%;
    display: grid;
    text-align: center;
    background-color: rgb(17, 16, 35);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 0px #f8bf55;

}
.cat-tummy {
    background-color: #fa8e00;
    box-shadow: 5px 0px #753111;
}

.collar {
    background-color: rgb(181, 27, 27);
    height: 20px;
    
}

.cat-head {
    left: 0vmin;
    height: 100px;
    border-radius: 50px 50px 0px 0px;
    background: #fa8e00;
    box-shadow: 5px 0px #753111;
}

.paws {
    position: absolute;
    height: 30px;
    width: 20px;
    background-color: #fa8e00;
    translate: 2px 40px;
    border-radius: 100px;
    border: 3px solid #b76800;
} 